## Build generated
build/
DerivedData/
Products/
tmp
Distribution/dependencies
results

reports/*.xml
reports/*.json
Carthage/Checkouts
!Carthage/Build

## nuget
*.nupkg

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.dSYM.zip
*.dSYM

# emacs and vim
*~
(.*/)?\#[^/]*\#$
*.swp

# MacOS
.DS_Store

# JetBrains
.idea

